.divBoard{
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.divPageNav{
    text-align: center;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.divFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}
table, td, th{
    border: 1px solid white;
    border-collapse: collapse;
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
th,td{
    padding: 0.3em;
}
th{
    text-align: center;
}
.lessImp{
    font-size: 0.7em;
    text-align: center;
}
.boardTitle{
    background-color: darkgray;
    color: white;
}

.dibPageNavA{
    font-size: 1.8em;
}

