.divChatList{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.chatMsg{
    font-size: 2em;
}
.chatDia{
    font-size: 1.5em;
}
table{
    border-collapse: separate;
    border-spacing: 1em;
}