.divChatList{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.divTitle{
    position: relative;
    top: 0;
}

.divChatFooter{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}
.chatMsg{
    font-size: 2em;
}
.chatDia{
    font-size: 1.5em;
}
table{
    border-collapse: separate;
    border-spacing: 1em;
}
body{
    margin: 0;
    padding: 0;
}

#createModal.createModal-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#createmodal.createmodal-window{
    background: rgba(69, 139, 197, 0.70);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 80%;
    height: 40%;
    position: relative;
    top: - 30%;
    padding: 10px;
}

#createmodal.title{
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#createmodel .close-area{
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color:  white;
}




#searchModal.searchModal-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#searchmodal.searchmodal-window{
    background: rgba(69, 139, 197, 0.70);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 80%;
    height: 40%;
    position: relative;
    top: - 30%;
    padding: 10px;
}

#searchmodal.title{
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#searchmodel .close-area{
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color:  white;
}