<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login Member</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/chatJoinDetailStyleCss.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/commonCss.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){


            $('#checkBtn').click(function(){
                console.log(JSON.stringify($("#viewerForm").serializeObject()));
            });


            $('#submitBtn').click(function(){
                $.ajax({
                    url : "/viewer/viewerlogin.do",
                    type : "GET",
                    contentType : "application/json;charset:UTF-8",
                    data : $("form[name=viewerForm]").serialize(),
                    success : function(data){
                            console.log(data);
                        },
                    error : function(data){
                            alert("로그인에 실패했습니다.");
                            console.log(data);
                        }
                }); // ajax
            }); // click

        });

        $.fn.serializeObject = function()

        {
           var o = {};
           var a = this.serializeArray();

           $.each(a, function() {
               if (o[this.name]) {
                   if (!o[this.name].push) {
                       o[this.name] = [o[this.name]];
                   }
                   o[this.name].push(this.value || '');
               } else {
                   o[this.name] = this.value || '';
               }
           });

           return o;
        };
    </script>
</head>
<body>
<div id="wrap">
    <section>
        <div class="divTitle">
            <a style="float: left;">&lt;</a>&nbsp;<a> 로그인 </a><a style="float: right;">　</a>
            <hr width="100%">
        </div>

        <div class="divJoinDetail">
            <form id="viewerForm" name="viewerForm" method="GET">
                <table style="width: 100%;">
                    <tr>
                        <th style="width: 20%;">
                            ID
                        </th>
                        <td style="width: 80%;">
                            <input name="vid" type="text" style="width: 100%;">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            PW
                        </th>
                        <td>
                            <input name="vpw" type="password" style="width: 100%;">
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="button" id="submitBtn" value="로그인" style="width: 100%; color: black;"></th>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="button" value="회원가입" onclick="location.href='/viewer/joinpage';" style="width: 100%; color: black;"></th>
                    </tr>

                    <tr>
                        <th colspan="2"><input type="button" id="checkBtn" value="체크" style="width: 100%; color: black;"></th>
                    </tr>

                    <tr>
                        <th colspan="2" style="font-size: 0.6em;">
                            <a>● 잘못된 정보나 장난으로 사람이 다칠 수 있습니다. <br>
                                &nbsp;&nbsp;&nbsp;사건 발생시 법적대응에 최선을 다하겠습니다.</a><br>
                            <br>
                            <a>● 이 사이트는 본업과 무관하게 1인 운영중입니다. <br>
                                &nbsp;&nbsp;&nbsp;건의하시는 내용은 최대한 반영을 하려하나, <br>
                                &nbsp;&nbsp;&nbsp;시간이 소요될 수 있습니다.</a><br>
                            <br>
                            <a>● 광고 수익과 후원은 운영에 큰 힘이 됩니다.</a>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</div>


<footer>
    <div class="divFooter">
        <hr width="100%">
        <a>● 사고를 막기위해 Helper의 신원은 인증이 필요하며, 도움내용은 기록되며 필요시 수사기관에 협력합니다.</a><br>
        <a>● 개인의 신원, 비밀번호와 같이 민감한 정보등은 공유하지 마시기 바랍니다.</a><br>
        <a>● </a><a class="alink" href="https://open.kakao.com/o/sFvpqq0d">OpenKakaoTalk (Click)</a>
    </div>
</footer>
</div>

</body>
</html>
